# Ignore multi-site configuration.
/sites.php

# Ignore configuration files that may contain sensitive information.
/*/settings*.php

# Ignore paths that contain user-generated content.
/*/files/
/*/private/

# Ignore packages managed by composer.
/*/drush/
/*/modules/contrib/
/*/themes/contrib/

# Ignore all libraries
/*/libraries/*

# Do not ignore these library exceptions
!/*/libraries/composer.json

